[submodule "device/Firmware_AT32F407_403/AT32F403A_407_Firmware_Library"]
	path = device/Firmware_AT32F407_403/AT32F403A_407_Firmware_Library
	url = https://github.com/ArteryTek/AT32F403A_407_Firmware_Library
[submodule "device/RegistersGenerator"]
	path = device/RegistersGenerator
	url = git@github.com:asafran/RegistersGenerator.git
